/*
DocuSign REST API

The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.

API version: v2.1
Contact: devcenter@docusign.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BulkSendAPIService BulkSendAPI service
type BulkSendAPIService service

type ApiBulkSendV2BatchGetBulkSendBatchStatusRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendBatchId string
}

func (r ApiBulkSendV2BatchGetBulkSendBatchStatusRequest) Execute() (*BulkSendBatchStatus, *http.Response, error) {
	return r.ApiService.BulkSendV2BatchGetBulkSendBatchStatusExecute(r)
}

/*
BulkSendV2BatchGetBulkSendBatchStatus Gets the status of a specific bulk send batch.

Gets the general status of a specific bulk send batch such as:

- number of successes
- number pending
- number of errors

The `bulkErrors` property of the response object contains more information about the errors.

### Related topics

- [How to bulk send envelopes](/docs/esign-rest-api/how-to/bulk-send-envelopes/)


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendBatchId The batch ID.
 @return ApiBulkSendV2BatchGetBulkSendBatchStatusRequest
*/
func (a *BulkSendAPIService) BulkSendV2BatchGetBulkSendBatchStatus(ctx context.Context, accountId string, bulkSendBatchId string) ApiBulkSendV2BatchGetBulkSendBatchStatusRequest {
	return ApiBulkSendV2BatchGetBulkSendBatchStatusRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendBatchId: bulkSendBatchId,
	}
}

// Execute executes the request
//  @return BulkSendBatchStatus
func (a *BulkSendAPIService) BulkSendV2BatchGetBulkSendBatchStatusExecute(r ApiBulkSendV2BatchGetBulkSendBatchStatusRequest) (*BulkSendBatchStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendBatchStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2BatchGetBulkSendBatchStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendBatchId"+"}", url.PathEscape(parameterValueToString(r.bulkSendBatchId, "bulkSendBatchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2BatchGetBulkSendBatchesRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	batchIds *string
	count *string
	fromDate *string
	searchText *string
	startPosition *string
	status *string
	toDate *string
	userId *string
}

// A comma-separated list of batch IDs to query.
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) BatchIds(batchIds string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.batchIds = &batchIds
	return r
}

// The maximum number of results to return.  Use &#x60;start_position&#x60; to specify the number of results to skip.  Valid values: &#x60;1&#x60; to &#x60;100&#x60;&lt;br&gt; Default: &#x60;100&#x60;
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) Count(count string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.count = &count
	return r
}

// The start date for a date range in UTC DateTime format.  **Note:** If this property is null, no date filtering is applied.
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) FromDate(fromDate string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.fromDate = &fromDate
	return r
}

// Use this parameter to search for specific text.
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) SearchText(searchText string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.searchText = &searchText
	return r
}

// The zero-based index of the result from which to start returning results.  Use with &#x60;count&#x60; to limit the number of results.  The default value is &#x60;0&#x60;. 
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) StartPosition(startPosition string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.startPosition = &startPosition
	return r
}

// The kind of results to collect. Must be one of:  - all - failed - sent - queued
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) Status(status string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.status = &status
	return r
}

// The end of a search date range in UTC DateTime format. When you use this parameter, only templates created up to this date and time are returned.  **Note:** If this property is null, the value defaults to the current date.
func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) ToDate(toDate string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.toDate = &toDate
	return r
}

func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) UserId(userId string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	r.userId = &userId
	return r
}

func (r ApiBulkSendV2BatchGetBulkSendBatchesRequest) Execute() (*BulkSendBatchSummaries, *http.Response, error) {
	return r.ApiService.BulkSendV2BatchGetBulkSendBatchesExecute(r)
}

/*
BulkSendV2BatchGetBulkSendBatches Returns a list of bulk send batch summaries. 

Returns a summary of bulk send batches.

Use the `batch_ids` query parameter to narrow the list of batches.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @return ApiBulkSendV2BatchGetBulkSendBatchesRequest
*/
func (a *BulkSendAPIService) BulkSendV2BatchGetBulkSendBatches(ctx context.Context, accountId string) ApiBulkSendV2BatchGetBulkSendBatchesRequest {
	return ApiBulkSendV2BatchGetBulkSendBatchesRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return BulkSendBatchSummaries
func (a *BulkSendAPIService) BulkSendV2BatchGetBulkSendBatchesExecute(r ApiBulkSendV2BatchGetBulkSendBatchesRequest) (*BulkSendBatchSummaries, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendBatchSummaries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2BatchGetBulkSendBatches")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_batch"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.batchIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "batch_ids", r.batchIds, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_date", r.fromDate, "")
	}
	if r.searchText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_text", r.searchText, "")
	}
	if r.startPosition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_position", r.startPosition, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_date", r.toDate, "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2BatchPutBulkSendBatchActionRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkAction string
	bulkSendBatchId string
	bulkSendBatchActionRequest *BulkSendBatchActionRequest
}

func (r ApiBulkSendV2BatchPutBulkSendBatchActionRequest) BulkSendBatchActionRequest(bulkSendBatchActionRequest BulkSendBatchActionRequest) ApiBulkSendV2BatchPutBulkSendBatchActionRequest {
	r.bulkSendBatchActionRequest = &bulkSendBatchActionRequest
	return r
}

func (r ApiBulkSendV2BatchPutBulkSendBatchActionRequest) Execute() (*BulkSendBatchStatus, *http.Response, error) {
	return r.ApiService.BulkSendV2BatchPutBulkSendBatchActionExecute(r)
}

/*
BulkSendV2BatchPutBulkSendBatchAction Applies a bulk action to all envelopes from a specified bulk send.

Use this endpoint to resend, correct, or void all envelopes from a specified bulk send.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkAction The action to apply. Valid values: * `resend` * `correct` * `void` 
 @param bulkSendBatchId The batch ID.
 @return ApiBulkSendV2BatchPutBulkSendBatchActionRequest
*/
func (a *BulkSendAPIService) BulkSendV2BatchPutBulkSendBatchAction(ctx context.Context, accountId string, bulkAction string, bulkSendBatchId string) ApiBulkSendV2BatchPutBulkSendBatchActionRequest {
	return ApiBulkSendV2BatchPutBulkSendBatchActionRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkAction: bulkAction,
		bulkSendBatchId: bulkSendBatchId,
	}
}

// Execute executes the request
//  @return BulkSendBatchStatus
func (a *BulkSendAPIService) BulkSendV2BatchPutBulkSendBatchActionExecute(r ApiBulkSendV2BatchPutBulkSendBatchActionRequest) (*BulkSendBatchStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendBatchStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2BatchPutBulkSendBatchAction")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}/{bulkAction}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkAction"+"}", url.PathEscape(parameterValueToString(r.bulkAction, "bulkAction")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendBatchId"+"}", url.PathEscape(parameterValueToString(r.bulkSendBatchId, "bulkSendBatchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkSendBatchActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2BatchPutBulkSendBatchStatusRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendBatchId string
	bulkSendBatchRequest *BulkSendBatchRequest
}

func (r ApiBulkSendV2BatchPutBulkSendBatchStatusRequest) BulkSendBatchRequest(bulkSendBatchRequest BulkSendBatchRequest) ApiBulkSendV2BatchPutBulkSendBatchStatusRequest {
	r.bulkSendBatchRequest = &bulkSendBatchRequest
	return r
}

func (r ApiBulkSendV2BatchPutBulkSendBatchStatusRequest) Execute() (*BulkSendBatchStatus, *http.Response, error) {
	return r.ApiService.BulkSendV2BatchPutBulkSendBatchStatusExecute(r)
}

/*
BulkSendV2BatchPutBulkSendBatchStatus Updates the name of a bulk send batch.

Updates the name of a bulk send batch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendBatchId The batch ID.
 @return ApiBulkSendV2BatchPutBulkSendBatchStatusRequest
*/
func (a *BulkSendAPIService) BulkSendV2BatchPutBulkSendBatchStatus(ctx context.Context, accountId string, bulkSendBatchId string) ApiBulkSendV2BatchPutBulkSendBatchStatusRequest {
	return ApiBulkSendV2BatchPutBulkSendBatchStatusRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendBatchId: bulkSendBatchId,
	}
}

// Execute executes the request
//  @return BulkSendBatchStatus
func (a *BulkSendAPIService) BulkSendV2BatchPutBulkSendBatchStatusExecute(r ApiBulkSendV2BatchPutBulkSendBatchStatusRequest) (*BulkSendBatchStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendBatchStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2BatchPutBulkSendBatchStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendBatchId"+"}", url.PathEscape(parameterValueToString(r.bulkSendBatchId, "bulkSendBatchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkSendBatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2CRUDDeleteBulkSendListRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendListId string
}

func (r ApiBulkSendV2CRUDDeleteBulkSendListRequest) Execute() (*BulkSendingListSummaries, *http.Response, error) {
	return r.ApiService.BulkSendV2CRUDDeleteBulkSendListExecute(r)
}

/*
BulkSendV2CRUDDeleteBulkSendList Deletes a bulk send list.

This method deletes a bulk send list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendListId The GUID of the bulk send list. This property is created after you post a new bulk send list.
 @return ApiBulkSendV2CRUDDeleteBulkSendListRequest
*/
func (a *BulkSendAPIService) BulkSendV2CRUDDeleteBulkSendList(ctx context.Context, accountId string, bulkSendListId string) ApiBulkSendV2CRUDDeleteBulkSendListRequest {
	return ApiBulkSendV2CRUDDeleteBulkSendListRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendListId: bulkSendListId,
	}
}

// Execute executes the request
//  @return BulkSendingListSummaries
func (a *BulkSendAPIService) BulkSendV2CRUDDeleteBulkSendListExecute(r ApiBulkSendV2CRUDDeleteBulkSendListRequest) (*BulkSendingListSummaries, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendingListSummaries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2CRUDDeleteBulkSendList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendListId"+"}", url.PathEscape(parameterValueToString(r.bulkSendListId, "bulkSendListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2CRUDGetBulkSendListRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendListId string
}

func (r ApiBulkSendV2CRUDGetBulkSendListRequest) Execute() (*BulkSendingList, *http.Response, error) {
	return r.ApiService.BulkSendV2CRUDGetBulkSendListExecute(r)
}

/*
BulkSendV2CRUDGetBulkSendList Gets a specific bulk send list.

This method returns all of the details associated with a specific bulk send list that belongs to the current user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendListId The GUID of the bulk send list. This property is created after you post a new bulk send list.
 @return ApiBulkSendV2CRUDGetBulkSendListRequest
*/
func (a *BulkSendAPIService) BulkSendV2CRUDGetBulkSendList(ctx context.Context, accountId string, bulkSendListId string) ApiBulkSendV2CRUDGetBulkSendListRequest {
	return ApiBulkSendV2CRUDGetBulkSendListRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendListId: bulkSendListId,
	}
}

// Execute executes the request
//  @return BulkSendingList
func (a *BulkSendAPIService) BulkSendV2CRUDGetBulkSendListExecute(r ApiBulkSendV2CRUDGetBulkSendListRequest) (*BulkSendingList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendingList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2CRUDGetBulkSendList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendListId"+"}", url.PathEscape(parameterValueToString(r.bulkSendListId, "bulkSendListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2CRUDGetBulkSendListsRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
}

func (r ApiBulkSendV2CRUDGetBulkSendListsRequest) Execute() (*BulkSendingListSummaries, *http.Response, error) {
	return r.ApiService.BulkSendV2CRUDGetBulkSendListsExecute(r)
}

/*
BulkSendV2CRUDGetBulkSendLists Gets bulk send lists.

This method returns a list of bulk send lists belonging to the current user, as well as basic information about each list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @return ApiBulkSendV2CRUDGetBulkSendListsRequest
*/
func (a *BulkSendAPIService) BulkSendV2CRUDGetBulkSendLists(ctx context.Context, accountId string) ApiBulkSendV2CRUDGetBulkSendListsRequest {
	return ApiBulkSendV2CRUDGetBulkSendListsRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return BulkSendingListSummaries
func (a *BulkSendAPIService) BulkSendV2CRUDGetBulkSendListsExecute(r ApiBulkSendV2CRUDGetBulkSendListsRequest) (*BulkSendingListSummaries, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendingListSummaries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2CRUDGetBulkSendLists")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2CRUDPostBulkSendListRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendingList *BulkSendingList
}

func (r ApiBulkSendV2CRUDPostBulkSendListRequest) BulkSendingList(bulkSendingList BulkSendingList) ApiBulkSendV2CRUDPostBulkSendListRequest {
	r.bulkSendingList = &bulkSendingList
	return r
}

func (r ApiBulkSendV2CRUDPostBulkSendListRequest) Execute() (*BulkSendingList, *http.Response, error) {
	return r.ApiService.BulkSendV2CRUDPostBulkSendListExecute(r)
}

/*
BulkSendV2CRUDPostBulkSendList Creates a bulk send list.

This method creates a bulk send list that you can use to send an envelope to up to 1,000 recipients at once.

### Related topics

- [How to bulk send envelopes](/docs/esign-rest-api/how-to/bulk-send-envelopes/)

### Errors

| Error code                                              | Description                                                                                                                                                                                                                                                                              |
| :------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| BULK_SEND_MAX_COPIES_EXCEEDED                           | A bulk sending list cannot specify more than XXX copies in the mailing list. Call the settings API endpoint to find the maximum number of copies in a batch allowed for your account. In almost all cases, the default limit is 1000.                                                    |
| BULK_SEND_RECIPIENT_IDS_MUST_BE_UNIQUE                  | No two recipientIds can be same within a bulkCopy. Same restriction as a regular envelope applies. Specify unique recipient IDs for each recipient within a bulkCopy (model for envelope in mailing list).                                                                               |
| BULK_SEND_RECIPIENT_ID_REQUIRED                         | If no RoleName is present, recipientID is required in mailing list's bulkCopy. Add a roleName (that coalesces with template/envelope) or a recipientID.                                                                                                                                  |
| BULK_SEND_RECIPIENT_NAME_REQUIRED                       | Recipient {0} has no name. Specify a name for the recipient.                                                                                                                                                                                                                             |
| BULK_SEND_EMAIL_ADDRESS_REQUIRED_FOR_EMAIL_RECIPIENT    | Recipient {0} is an email recipient with no email address. Specify an email for the email recipient.                                                                                                                                                                                     |
| BULK_SEND_FAX_NUMBER_REQUIRED_FOR_FAX_RECIPIENT         | Recipient {0} is a fax recipient with no fax number. Specify a fax number for the fax recipient.                                                                                                                                                                                         |
| BULK_SEND_FAX_NUMBER_NOT_VALID                          | Recipient {0} specifies fax number {1}, which is not valid. Specify a valid fax number for the fax recipient.                                                                                                                                                                            |
| BULK_SEND_EMAIL_ADDRESS_NOT_VALID                       | Recipient {0} specifies email address {1}, which is not a valid email address.  Specify a valid email address for the recipient.                                                                                                                                                         |
| BULK_SEND_PHONE_NUMBER_REQURED_FOR_SMS_AUTH             | Recipient {0} specifies SMS auth, but no number was provided. Specify a phone number for the SMS auth recipient.                                                                                                                                                                         |
| BULK_SEND_PHONE_NUMBER_INVALID_FOR_SMS_AUTH             | Recipient {0} specifies phone number {1} for SMS auth, which is not valid. Specify a valid phone number for the SMS auth recipient.                                                                                                                                                      |
| BULK_SEND_ROLE_NAMES_MUST_BE_UNIQUE                     | Recipient role names cannot be duplicated; role {duplicateRecipientRole} appears multiple times. Use unique roleNames for recipients.                                                                                                                                                    |
| BULK_SEND_CANNOT_USE_BOTH_ROLE_AND_ID_ON_SAME_RECIPIENT | Recipients cannot have both ID and Role; {0} has both. Specify a roleName or recipientId, but not both for the same recipient.                                                                                                                                                           |
| BULK_SEND_CANNOT_USE_BOTH_ROLE_AND_ID_IN_SAME_LIST      | Cannot use both recipient role and ID in the same list. Specify a roleName or recipientId, but not both in the same list.                                                                                                                                                                |
| BULK_SEND_INVALID_ID_CHECK_CONFIGURATION                | Recipient {0} specified SMS authentication, but no SMS auth settings were provided. Provide an SMS auth setting (proper ID configuration) if SMS auth is specified.                                                                                                                      |
| BULK_SEND_INVALID_SBS_INPUT_CONFIGURATION               | Recipient {0} has more than one signature provider specified. Or signingProviderName is not specified. Or Signature provider : {0} is either unknown or not an available pen for this account. One or more SBS configuration is missing or invalid. The error details provide specifics. |
| BULK_SEND_TAB_LABELS_MUST_BE_UNIQUE                     | Tab label {0} is duplicated. Needs to be unique. Use a unique tab label.                                                                                                                                                                                                                 |
| BULK_SEND_TAB_LABEL_REQUIRED                            | Tab label is required. Specify a tab label.                                                                                                                                                                                                                                              |
| BULK_SEND_TAB_VALUE_REQUIRED                            | Tab Label value is required. Specify a value for the tab label.                                                                                                                                                                                                                          |
| BULK_SEND_ENVELOPE_CUSTOM_FIELD_NAME_MUST_BE_UNIQUE     | Custom fields must have distinct names. The field {0} appears more than once in a copy. Use unique names for custom fields.                                                                                                                                                              |
| BULK_SEND_ENVELOPE_CUSTOM_FIELD_NAME_REQUIRED           | All custom fields must have names. Specify a name for the custom field.                                                                                                                                                                                                                  |
| BULK_SEND_ENVELOPE_CUSTOM_FIELD_VALUE_REQUIRED          | Custom field {0} has no value. A custom field can have an empty value, but it cannot have a null value. Specify a value for the custom field.                                                                                                                                            |

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The ID of the account.
 @return ApiBulkSendV2CRUDPostBulkSendListRequest
*/
func (a *BulkSendAPIService) BulkSendV2CRUDPostBulkSendList(ctx context.Context, accountId string) ApiBulkSendV2CRUDPostBulkSendListRequest {
	return ApiBulkSendV2CRUDPostBulkSendListRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return BulkSendingList
func (a *BulkSendAPIService) BulkSendV2CRUDPostBulkSendListExecute(r ApiBulkSendV2CRUDPostBulkSendListRequest) (*BulkSendingList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendingList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2CRUDPostBulkSendList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkSendingList
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2CRUDPutBulkSendListRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendListId string
	bulkSendingList *BulkSendingList
}

func (r ApiBulkSendV2CRUDPutBulkSendListRequest) BulkSendingList(bulkSendingList BulkSendingList) ApiBulkSendV2CRUDPutBulkSendListRequest {
	r.bulkSendingList = &bulkSendingList
	return r
}

func (r ApiBulkSendV2CRUDPutBulkSendListRequest) Execute() (*BulkSendingList, *http.Response, error) {
	return r.ApiService.BulkSendV2CRUDPutBulkSendListExecute(r)
}

/*
BulkSendV2CRUDPutBulkSendList Updates a bulk send list.

This method replaces the definition of an existing bulk send list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendListId The GUID of the bulk send list. This property is created after you post a new bulk send list.
 @return ApiBulkSendV2CRUDPutBulkSendListRequest
*/
func (a *BulkSendAPIService) BulkSendV2CRUDPutBulkSendList(ctx context.Context, accountId string, bulkSendListId string) ApiBulkSendV2CRUDPutBulkSendListRequest {
	return ApiBulkSendV2CRUDPutBulkSendListRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendListId: bulkSendListId,
	}
}

// Execute executes the request
//  @return BulkSendingList
func (a *BulkSendAPIService) BulkSendV2CRUDPutBulkSendListExecute(r ApiBulkSendV2CRUDPutBulkSendListRequest) (*BulkSendingList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendingList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2CRUDPutBulkSendList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendListId"+"}", url.PathEscape(parameterValueToString(r.bulkSendListId, "bulkSendListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkSendingList
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendBatchId string
	count *string
	include *string
	order *string
	orderBy *string
	searchText *string
	startPosition *string
	status *string
}

// The maximum number of results to return.  Use &#x60;start_position&#x60; to specify the number of results to skip.  Valid values: &#x60;1&#x60; to &#x60;1000&#x60; 
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) Count(count string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.count = &count
	return r
}

// When &#x60;recipients&#x60;, only envelopes with recipient nodes will be included in the response.
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) Include(include string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.include = &include
	return r
}

// The order in which to sort the results. Valid values are:  - Descending order: &#x60;desc&#x60; (default) - Ascending order: &#x60;asc&#x60;
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) Order(order string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.order = &order
	return r
}

// The envelope attribute used to sort the results. Valid values are:  - &#x60;created&#x60; (default) - &#x60;completed&#x60; - &#x60;last_modified&#x60; - &#x60;sent&#x60; - &#x60;status&#x60; - &#x60;subject&#x60; - &#x60;status_changed&#x60;
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) OrderBy(orderBy string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.orderBy = &orderBy
	return r
}

// Use this parameter to search for specific text.
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) SearchText(searchText string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.searchText = &searchText
	return r
}

// The zero-based index of the result from which to start returning results.  Use with &#x60;count&#x60; to limit the number of results.  The default value is &#x60;0&#x60;. 
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) StartPosition(startPosition string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.startPosition = &startPosition
	return r
}

// Comma-separated list of envelope statuses.  Note that &#x60;any&#x60; should not be included with other statuses. In other words, &#x60;any&#x60; is a valid parameter value, but &#x60;any,sent&#x60; is not.  Use the value &#x60;deliveryfailure&#x60; to get all envelopes with &#x60;AuthFailed&#x60; and &#x60;AutoResponded&#x60; status. This value is specific to bulk sending.
func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) Status(status string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	r.status = &status
	return r
}

func (r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) Execute() (*EnvelopesInformation, *http.Response, error) {
	return r.ApiService.BulkSendV2EnvelopesGetBulkSendBatchEnvelopesExecute(r)
}

/*
BulkSendV2EnvelopesGetBulkSendBatchEnvelopes Gets envelopes from a specific bulk send batch.

This method returns a list of envelopes in a specified bulk batch. Use the query parameters to filter and sort the envelopes by different attributes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendBatchId The batch ID.
 @return ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest
*/
func (a *BulkSendAPIService) BulkSendV2EnvelopesGetBulkSendBatchEnvelopes(ctx context.Context, accountId string, bulkSendBatchId string) ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest {
	return ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendBatchId: bulkSendBatchId,
	}
}

// Execute executes the request
//  @return EnvelopesInformation
func (a *BulkSendAPIService) BulkSendV2EnvelopesGetBulkSendBatchEnvelopesExecute(r ApiBulkSendV2EnvelopesGetBulkSendBatchEnvelopesRequest) (*EnvelopesInformation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnvelopesInformation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2EnvelopesGetBulkSendBatchEnvelopes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}/envelopes"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendBatchId"+"}", url.PathEscape(parameterValueToString(r.bulkSendBatchId, "bulkSendBatchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "")
	}
	if r.searchText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_text", r.searchText, "")
	}
	if r.startPosition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_position", r.startPosition, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2SendPostBulkSendRequestRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendListId string
	bulkSendRequest *BulkSendRequest
}

func (r ApiBulkSendV2SendPostBulkSendRequestRequest) BulkSendRequest(bulkSendRequest BulkSendRequest) ApiBulkSendV2SendPostBulkSendRequestRequest {
	r.bulkSendRequest = &bulkSendRequest
	return r
}

func (r ApiBulkSendV2SendPostBulkSendRequestRequest) Execute() (*BulkSendResponse, *http.Response, error) {
	return r.ApiService.BulkSendV2SendPostBulkSendRequestExecute(r)
}

/*
BulkSendV2SendPostBulkSendRequest Creates a bulk send request.

This method initiates the bulk send process. It generates a bulk send request based on an [existing bulk send list][create_list] and an envelope or template.

Consider using the [BulkSend::createBulkSendTestRequest][create_test] method to test your bulk send list for compatibility with the envelope or template that you want to send first. To learn about the complete bulk send flow, see the [Bulk Send overview][BulkSendOverview].

If the envelopes were successfully queued for asynchronous processing, the response contains a `batchId` that you can use to get the status of the batch. If a failure occurs, the API returns an error message.

**Note:** Partial success or failure generally does not occur. Only the entire batch is queued for asynchronous processing.

### Related topics

- [How to bulk send envelopes](/docs/esign-rest-api/how-to/bulk-send-envelopes/)


### Errors

This method returns the following errors:

| Error code                                                 | Description                                                                                                                                                                                                                                                                                            |
| :--------------------------------------------------------- | :----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| BULK_SEND_ENVELOPE_NOT_IN_SENDABLE_STATE                   | Envelope {0} is not in a sendable state. The envelope is not complete. Make sure it has a sendable status, such as `created`.                                                                                                                                                                          |
| BULK_SEND_ENVELOPE_LIST_CONTAINS_NO_COPIES                 | Cannot send an envelope with a bulk sending list which contains no copies.  The list you're trying to bulk send is empty. Make sure the bulk sending list you're using contains recipients.                                                                                                            |
| BULK_SEND_ENVELOPE_LIST_CONTAINS_TOO_MANY_COPIES           | Bulk sending list contains more than {0} copies. The list you're trying to bulk send will cause your account to exceed the 1,000-copy limit imposed for all accounts. Try sending two or more separate lists.                                                                                          |
| BULK_SEND_ENVELOPE_CANNOT_BE_NULL                          | Cannot send a bulk list without an envelope. Specify the envelope ID or template ID for the envelope you want to bulk send.                                                                                                                                                                            |
| BULK_SEND_BLOB_STORE_ERROR                                 | Could not save copy of bulk sending list. An error writing to the database occurred. Try again. If the error persists, contact DocuSign Support.                                                                                                                                                       |
| BULK_SEND_ACCOUNT_HAS_TOO_MANY_QUEUED_ENVELOPES            | Cannot send this bulk sending list because doing so would exceed the maximum of {maxCopies} in-flight envelopes. This account currently has {unprocessedEnvelopes} envelopes waiting to be processed. Please try again later." .Try again later, or contact DocuSign Support to request a higher tier. |
| BULK_SEND_ENVELOPE_NOT_FOUND                               | Envelope {envelopeOrTemplateId} does not exist or you do not have permission to access it. The envelopeId or templateId specified could not be found. Specify a valid value.                                                                                                                           |
| BULK_SEND_LIST_NOT_FOUND                                   | Bulk Sending list {listId} does not exist or you do not have permission to access it. The mailingListId specified could not be found. Specify a valid value.                                                                                                                                           |
| BULK_SEND_ENVELOPE_HAS_NO_RECIPIENTS                       | Bulk sending copy contains recipients, but the specified envelope does not. The recipients on the envelope and the bulk send list do not match. Make sure the envelope and list are compatible for sending.                                                                                            |
| BULK_SEND_RECIPIENT_ID_DOES_NOT_EXIST_IN_ENVELOPE          | Recipient {0} does not exist in the envelope. Add the missing recipient to the envelope.                                                                                                                                                                                                               |
| BULK_SEND_RECIPIENT_ID_DOES_NOT_MATCH                      | Recipient ID {envelopeMember.ID} does not match. Make sure the recipient information in the list and the envelope match up.                                                                                                                                                                            |
| BULK_SEND_ENVELOPE_HAS_BULK_RECIPIENT                      | Recipient {0} is a bulk recipient.  This is not supported. No legacy 'bulk recipient' allowed. In v2.1 of the eSignature API, you must use a bulk send list instead of a bulk recipient. See the API documentation for details.                                                                        |
| BULK_SEND_RECIPIENT_ROLE_DOES_NOT_MATCH                    | Recipient Role {envelopeMember.RoleName} does not match. Make sure the recipient information in the list and the envelope is compatible.                                                                                                                                                               |
| BULK_SEND_DUPLICATE_RECIPIENT_DETECTED                     | Duplicate recipients ({0}) not allowed, unless recipients have unique routing order specified on envelope.                                                                                                                                                                                             |
| BULK_SEND_ENVELOPE_HAS_NO_TABS                             | Bulk sending copy contains tabs, but the specified envelope does not. List and envelope tabs cannot be coalesced. Make sure they are compatible for sending.                                                                                                                                           |
| BULK_SEND_TAB_LABEL_DOES_NOT_EXIST_IN_ENVELOPE             | Tab with label {0} does not exist in envelope. Add the tab label to the envelope, remove the label from the list, or make sure you're specifying the correct list and envelope.                                                                                                                        |
| BULK_SEND_TAB_DOES_NOT_MATCH                               | Tab {0} does not match {0} in envelope. A tab exists on the list that does not match or is missing on the envelope. Make sure the tabs on the list and the envelope match.                                                                                                                             |
| BULK_SEND_ENVELOPE_HAS_NO_ENVELOPE_CUSTOM_FIELDS           | Bulk sending copy contains custom fields, but the specified envelope does not. There are custom fields on the list that the envelope does not have. Make sure that any custom fields on the list and the envelope match.                                                                               |
| BULK_SEND_ENVELOPE_CUSTOM_FIELD_DOES_NOT_EXIST_IN_ENVELOPE | Custom field {0} does not exist in the envelope. Either add the custom field on the list to the envelope, remove the custom field from the list, or make sure you're specifying the correct list and envelope.                                                                                         |
| BULK_SEND_ENVELOPE_CUSTOM_FIELD_NAME_DOES_NOT_MATCH        | Custom field names must match. {0} and {1} do not match. The custom field names on the list and the envelope do not match. Use identical names for both.                                                                                                                                               |

[create_list]:      /docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendlist/
[create_test]:      /docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendtestrequest/
[BulkSendOverview]: /docs/esign-rest-api/reference/bulkenvelopes/bulksend/



 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendListId The GUID of the bulk send list. This property is created after you post a new bulk send list.
 @return ApiBulkSendV2SendPostBulkSendRequestRequest
*/
func (a *BulkSendAPIService) BulkSendV2SendPostBulkSendRequest(ctx context.Context, accountId string, bulkSendListId string) ApiBulkSendV2SendPostBulkSendRequestRequest {
	return ApiBulkSendV2SendPostBulkSendRequestRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendListId: bulkSendListId,
	}
}

// Execute executes the request
//  @return BulkSendResponse
func (a *BulkSendAPIService) BulkSendV2SendPostBulkSendRequestExecute(r ApiBulkSendV2SendPostBulkSendRequestRequest) (*BulkSendResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2SendPostBulkSendRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}/send"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendListId"+"}", url.PathEscape(parameterValueToString(r.bulkSendListId, "bulkSendListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkSendRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkSendV2TestPostBulkSendTestRequestRequest struct {
	ctx context.Context
	ApiService *BulkSendAPIService
	accountId string
	bulkSendListId string
	bulkSendRequest *BulkSendRequest
}

func (r ApiBulkSendV2TestPostBulkSendTestRequestRequest) BulkSendRequest(bulkSendRequest BulkSendRequest) ApiBulkSendV2TestPostBulkSendTestRequestRequest {
	r.bulkSendRequest = &bulkSendRequest
	return r
}

func (r ApiBulkSendV2TestPostBulkSendTestRequestRequest) Execute() (*BulkSendTestResponse, *http.Response, error) {
	return r.ApiService.BulkSendV2TestPostBulkSendTestRequestExecute(r)
}

/*
BulkSendV2TestPostBulkSendTestRequest Creates a bulk send test.

This method tests a bulk send list for compatibility with the envelope or template that you want to send. For example, a template that has three roles is not compatible with a bulk send list that has only two recipients. For this reason, you might want to test compatibility first.

A successful test result returns `true` for the `canBeSent` property. An unsuccessful test returns a JSON response that contains information about the errors that occurred.

If the test is successful, you can then send the envelope or template by using the [BulkSend::createBulkSendRequest][BulkSendRequest] method.

## Envelope Compatibility Checks

This section describes the envelope compatibility checks that the system performs.

**Top-Level Issues**

- Envelopes must be in a sendable state.
- The bulk send list must contain at least one copy (instance of an envelope), and no more than the maximum number of copies allowed for the account.
- The envelope must not be null and must be visible to the current user.
- The account cannot have more queued envelopes than the maximum number configured for the account.
- The bulk send list must exist.

**Recipients**

- The envelope must have recipients.
- If you are using an envelope, all of the recipients defined in the bulk send list must have corresponding recipient IDs in the envelope definition. If you are using a template, you must either match the recipient IDs or role IDs.
- The envelope cannot contain a bulk recipient (an artifact of the legacy version of DocuSign's bulk send
  functionality).

**Recipient Tabs**

- Every `recipient ID, tab label` pair in the bulk send list must correspond to a tab in the envelope.

**Custom Fields**

- Each envelope-level custom field in the bulk send list must correspond to the name of a `customField` in the
  envelope definition. You do not have to match the recipient-level custom fields.

[BulkSendRequest]:  /docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendrequest/




 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param bulkSendListId The GUID of the bulk send list. This property is created after you post a new bulk send list.
 @return ApiBulkSendV2TestPostBulkSendTestRequestRequest
*/
func (a *BulkSendAPIService) BulkSendV2TestPostBulkSendTestRequest(ctx context.Context, accountId string, bulkSendListId string) ApiBulkSendV2TestPostBulkSendTestRequestRequest {
	return ApiBulkSendV2TestPostBulkSendTestRequestRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		bulkSendListId: bulkSendListId,
	}
}

// Execute executes the request
//  @return BulkSendTestResponse
func (a *BulkSendAPIService) BulkSendV2TestPostBulkSendTestRequestExecute(r ApiBulkSendV2TestPostBulkSendTestRequestRequest) (*BulkSendTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkSendTestResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendAPIService.BulkSendV2TestPostBulkSendTestRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}/test"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"bulkSendListId"+"}", url.PathEscape(parameterValueToString(r.bulkSendListId, "bulkSendListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkSendRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
