/*
DocuSign REST API

The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.

API version: v2.1
Contact: devcenter@docusign.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TemplateResponsiveHtmlPreviewAPIService TemplateResponsiveHtmlPreviewAPI service
type TemplateResponsiveHtmlPreviewAPIService service

type ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest struct {
	ctx context.Context
	ApiService *TemplateResponsiveHtmlPreviewAPIService
	accountId string
	templateId string
	documentHtmlDefinition *DocumentHtmlDefinition
}

func (r ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest) DocumentHtmlDefinition(documentHtmlDefinition DocumentHtmlDefinition) ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest {
	r.documentHtmlDefinition = &documentHtmlDefinition
	return r
}

func (r ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest) Execute() (*DocumentHtmlDefinitions, *http.Response, error) {
	return r.ApiService.ResponsiveHtmlPostTemplateResponsiveHtmlPreviewExecute(r)
}

/*
ResponsiveHtmlPostTemplateResponsiveHtmlPreview Creates a preview of the responsive versions of all of the documents associated with a template.

Creates a preview of the
[responsive](/docs/esign-rest-api/esign101/concepts/responsive/),
HTML versions of all of the documents associated
with a template. This method enables you to
preview the PDF document conversions to responsive
HTML across device types prior to sending.

The request body is a `documentHtmlDefinition`
object, which holds the responsive signing
parameters that define how to generate the HTML
version of the documents.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param templateId The ID of the template.
 @return ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest
*/
func (a *TemplateResponsiveHtmlPreviewAPIService) ResponsiveHtmlPostTemplateResponsiveHtmlPreview(ctx context.Context, accountId string, templateId string) ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest {
	return ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return DocumentHtmlDefinitions
func (a *TemplateResponsiveHtmlPreviewAPIService) ResponsiveHtmlPostTemplateResponsiveHtmlPreviewExecute(r ApiResponsiveHtmlPostTemplateResponsiveHtmlPreviewRequest) (*DocumentHtmlDefinitions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DocumentHtmlDefinitions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateResponsiveHtmlPreviewAPIService.ResponsiveHtmlPostTemplateResponsiveHtmlPreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/templates/{templateId}/responsive_html_preview"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.documentHtmlDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
