/*
DocuSign REST API

The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.

API version: v2.1
Contact: devcenter@docusign.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TemplateDocumentHtmlDefinitionsAPIService TemplateDocumentHtmlDefinitionsAPI service
type TemplateDocumentHtmlDefinitionsAPIService service

type ApiResponsiveHtmlGetTemplateDocumentHtmlDefinitionsRequest struct {
	ctx context.Context
	ApiService *TemplateDocumentHtmlDefinitionsAPIService
	accountId string
	documentId string
	templateId string
}

func (r ApiResponsiveHtmlGetTemplateDocumentHtmlDefinitionsRequest) Execute() (*DocumentHtmlDefinitionOriginals, *http.Response, error) {
	return r.ApiService.ResponsiveHtmlGetTemplateDocumentHtmlDefinitionsExecute(r)
}

/*
ResponsiveHtmlGetTemplateDocumentHtmlDefinitions Gets the Original HTML Definition used to generate the Responsive HTML for a given document in a template.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param documentId The unique ID of the document within the envelope.  Unlike other IDs in the eSignature API, you specify the `documentId` yourself. Typically the first document has the ID `1`, the second document `2`, and so on, but you can use any numbering scheme that fits within a 32-bit signed integer (1 through 2147483647).   Tab objects have a `documentId` property that specifies the document on which to place the tab. 
 @param templateId The ID of the template.
 @return ApiResponsiveHtmlGetTemplateDocumentHtmlDefinitionsRequest
*/
func (a *TemplateDocumentHtmlDefinitionsAPIService) ResponsiveHtmlGetTemplateDocumentHtmlDefinitions(ctx context.Context, accountId string, documentId string, templateId string) ApiResponsiveHtmlGetTemplateDocumentHtmlDefinitionsRequest {
	return ApiResponsiveHtmlGetTemplateDocumentHtmlDefinitionsRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		documentId: documentId,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return DocumentHtmlDefinitionOriginals
func (a *TemplateDocumentHtmlDefinitionsAPIService) ResponsiveHtmlGetTemplateDocumentHtmlDefinitionsExecute(r ApiResponsiveHtmlGetTemplateDocumentHtmlDefinitionsRequest) (*DocumentHtmlDefinitionOriginals, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DocumentHtmlDefinitionOriginals
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateDocumentHtmlDefinitionsAPIService.ResponsiveHtmlGetTemplateDocumentHtmlDefinitions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/templates/{templateId}/documents/{documentId}/html_definitions"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"documentId"+"}", url.PathEscape(parameterValueToString(r.documentId, "documentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
