/*
DocuSign REST API

The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.

API version: v2.1
Contact: devcenter@docusign.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TemplateRecipientTabsAPIService TemplateRecipientTabsAPI service
type TemplateRecipientTabsAPIService service

type ApiRecipientsDeleteTemplateRecipientTabsRequest struct {
	ctx context.Context
	ApiService *TemplateRecipientTabsAPIService
	accountId string
	recipientId string
	templateId string
	templateTabs *TemplateTabs
}

func (r ApiRecipientsDeleteTemplateRecipientTabsRequest) TemplateTabs(templateTabs TemplateTabs) ApiRecipientsDeleteTemplateRecipientTabsRequest {
	r.templateTabs = &templateTabs
	return r
}

func (r ApiRecipientsDeleteTemplateRecipientTabsRequest) Execute() (*Tabs, *http.Response, error) {
	return r.ApiService.RecipientsDeleteTemplateRecipientTabsExecute(r)
}

/*
RecipientsDeleteTemplateRecipientTabs Deletes the tabs associated with a recipient in a template.

Deletes one or more tabs associated with a recipient in a template.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param recipientId A local reference used to map recipients to other objects, such as specific document tabs.  A `recipientId` must be either an integer or a GUID, and the `recipientId` must be unique within an envelope.  For example, many envelopes assign the first recipient a `recipientId` of `1`. 
 @param templateId The ID of the template.
 @return ApiRecipientsDeleteTemplateRecipientTabsRequest
*/
func (a *TemplateRecipientTabsAPIService) RecipientsDeleteTemplateRecipientTabs(ctx context.Context, accountId string, recipientId string, templateId string) ApiRecipientsDeleteTemplateRecipientTabsRequest {
	return ApiRecipientsDeleteTemplateRecipientTabsRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		recipientId: recipientId,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return Tabs
func (a *TemplateRecipientTabsAPIService) RecipientsDeleteTemplateRecipientTabsExecute(r ApiRecipientsDeleteTemplateRecipientTabsRequest) (*Tabs, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Tabs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateRecipientTabsAPIService.RecipientsDeleteTemplateRecipientTabs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/templates/{templateId}/recipients/{recipientId}/tabs"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recipientId"+"}", url.PathEscape(parameterValueToString(r.recipientId, "recipientId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateTabs
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecipientsGetTemplateRecipientTabsRequest struct {
	ctx context.Context
	ApiService *TemplateRecipientTabsAPIService
	accountId string
	recipientId string
	templateId string
	includeAnchorTabLocations *string
	includeMetadata *string
}

// When **true,** all tabs with anchor tab properties are included in the response. The default value is **false.**
func (r ApiRecipientsGetTemplateRecipientTabsRequest) IncludeAnchorTabLocations(includeAnchorTabLocations string) ApiRecipientsGetTemplateRecipientTabsRequest {
	r.includeAnchorTabLocations = &includeAnchorTabLocations
	return r
}

// When **true,** the response includes metadata indicating which properties are editable.
func (r ApiRecipientsGetTemplateRecipientTabsRequest) IncludeMetadata(includeMetadata string) ApiRecipientsGetTemplateRecipientTabsRequest {
	r.includeMetadata = &includeMetadata
	return r
}

func (r ApiRecipientsGetTemplateRecipientTabsRequest) Execute() (*Tabs, *http.Response, error) {
	return r.ApiService.RecipientsGetTemplateRecipientTabsExecute(r)
}

/*
RecipientsGetTemplateRecipientTabs Gets the tabs information for a signer or sign-in-person recipient in a template.

Gets the tabs information for a signer or sign-in-person recipient in a template.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param recipientId A local reference used to map recipients to other objects, such as specific document tabs.  A `recipientId` must be either an integer or a GUID, and the `recipientId` must be unique within an envelope.  For example, many envelopes assign the first recipient a `recipientId` of `1`. 
 @param templateId The ID of the template.
 @return ApiRecipientsGetTemplateRecipientTabsRequest
*/
func (a *TemplateRecipientTabsAPIService) RecipientsGetTemplateRecipientTabs(ctx context.Context, accountId string, recipientId string, templateId string) ApiRecipientsGetTemplateRecipientTabsRequest {
	return ApiRecipientsGetTemplateRecipientTabsRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		recipientId: recipientId,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return Tabs
func (a *TemplateRecipientTabsAPIService) RecipientsGetTemplateRecipientTabsExecute(r ApiRecipientsGetTemplateRecipientTabsRequest) (*Tabs, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Tabs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateRecipientTabsAPIService.RecipientsGetTemplateRecipientTabs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/templates/{templateId}/recipients/{recipientId}/tabs"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recipientId"+"}", url.PathEscape(parameterValueToString(r.recipientId, "recipientId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeAnchorTabLocations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_anchor_tab_locations", r.includeAnchorTabLocations, "")
	}
	if r.includeMetadata != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_metadata", r.includeMetadata, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecipientsPostTemplateRecipientTabsRequest struct {
	ctx context.Context
	ApiService *TemplateRecipientTabsAPIService
	accountId string
	recipientId string
	templateId string
	templateTabs *TemplateTabs
}

func (r ApiRecipientsPostTemplateRecipientTabsRequest) TemplateTabs(templateTabs TemplateTabs) ApiRecipientsPostTemplateRecipientTabsRequest {
	r.templateTabs = &templateTabs
	return r
}

func (r ApiRecipientsPostTemplateRecipientTabsRequest) Execute() (*Tabs, *http.Response, error) {
	return r.ApiService.RecipientsPostTemplateRecipientTabsExecute(r)
}

/*
RecipientsPostTemplateRecipientTabs Adds tabs for a recipient.

Adds one or more tabs for a recipient.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param recipientId A local reference used to map recipients to other objects, such as specific document tabs.  A `recipientId` must be either an integer or a GUID, and the `recipientId` must be unique within an envelope.  For example, many envelopes assign the first recipient a `recipientId` of `1`. 
 @param templateId The ID of the template.
 @return ApiRecipientsPostTemplateRecipientTabsRequest
*/
func (a *TemplateRecipientTabsAPIService) RecipientsPostTemplateRecipientTabs(ctx context.Context, accountId string, recipientId string, templateId string) ApiRecipientsPostTemplateRecipientTabsRequest {
	return ApiRecipientsPostTemplateRecipientTabsRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		recipientId: recipientId,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return Tabs
func (a *TemplateRecipientTabsAPIService) RecipientsPostTemplateRecipientTabsExecute(r ApiRecipientsPostTemplateRecipientTabsRequest) (*Tabs, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Tabs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateRecipientTabsAPIService.RecipientsPostTemplateRecipientTabs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/templates/{templateId}/recipients/{recipientId}/tabs"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recipientId"+"}", url.PathEscape(parameterValueToString(r.recipientId, "recipientId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateTabs
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecipientsPutTemplateRecipientTabsRequest struct {
	ctx context.Context
	ApiService *TemplateRecipientTabsAPIService
	accountId string
	recipientId string
	templateId string
	templateTabs *TemplateTabs
}

func (r ApiRecipientsPutTemplateRecipientTabsRequest) TemplateTabs(templateTabs TemplateTabs) ApiRecipientsPutTemplateRecipientTabsRequest {
	r.templateTabs = &templateTabs
	return r
}

func (r ApiRecipientsPutTemplateRecipientTabsRequest) Execute() (*Tabs, *http.Response, error) {
	return r.ApiService.RecipientsPutTemplateRecipientTabsExecute(r)
}

/*
RecipientsPutTemplateRecipientTabs Updates the tabs for a recipient.

Updates one or more tabs for a recipient in a template.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The external account number (int) or account ID GUID.
 @param recipientId A local reference used to map recipients to other objects, such as specific document tabs.  A `recipientId` must be either an integer or a GUID, and the `recipientId` must be unique within an envelope.  For example, many envelopes assign the first recipient a `recipientId` of `1`. 
 @param templateId The ID of the template.
 @return ApiRecipientsPutTemplateRecipientTabsRequest
*/
func (a *TemplateRecipientTabsAPIService) RecipientsPutTemplateRecipientTabs(ctx context.Context, accountId string, recipientId string, templateId string) ApiRecipientsPutTemplateRecipientTabsRequest {
	return ApiRecipientsPutTemplateRecipientTabsRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		recipientId: recipientId,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return Tabs
func (a *TemplateRecipientTabsAPIService) RecipientsPutTemplateRecipientTabsExecute(r ApiRecipientsPutTemplateRecipientTabsRequest) (*Tabs, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Tabs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateRecipientTabsAPIService.RecipientsPutTemplateRecipientTabs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/accounts/{accountId}/templates/{templateId}/recipients/{recipientId}/tabs"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recipientId"+"}", url.PathEscape(parameterValueToString(r.recipientId, "recipientId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateTabs
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
